<div id="contacts" class="modal hide fade in">
	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Contacts</h3>
    </div>
    <div class="modal-body">
    	<p>Ci-dessous les noms des personnes ayant participé à ce projet:</p>
        <ul class="media-list">
        	<li class="media"><img class="media-object pull-left" src="../RAF.PNG" width="128" height="147"><div class="media-body">Grand Manitou, Webmaster, Développeur, Chef de Projet, Concepteur : <a href="mailto:farrentether@gmail.com" title target="new" id="mailtooltip" data-toggle="tooltip" data-original-title="Cliquez pour envoyer un mail">Rafaël Naciri</a></div></li>
        </ul>
    </div>
    <script>
	$(document).ready(function(e) {
        $("#mailtooltip").tooltip();
    });
	</script>
</div> 