<div class="hero-unit">
  <h1><img src="/favicon.ico"> iniTunes, une autre façon d'écouter</h1>
  <p>Pour l'instant, ce site est encore en cours de développement, comme l'application d'ailleurs. Pour obtenir la dernière version présentable de cette dernière, je vous invite à visiter <a href="http://farrentether.fr.nf" target="new">FarrenTether</a>. Merci de votre compréhension et à bientôt.
		<br>
	  <small>PS : Vous pouvez suivre l'actualité du site et de l'application sur Facebook : <a href="https://www.facebook.com/iniTunes" target="new">https://www.facebook.com/iniTunes</a>
   	  </small>
	</p>
</div>
<script src="/home.js" type="text/javascript"></script>